{{#if someNewName}}
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      {{input value=title id="title" placeholder=post.title}}
    </div>
    <div class="form-group">
      <label for="natureType">Nature Type</label>
      {{input value=natureType id="natureType" placeholder=post.natureType}}
    </div>
    <div class="form-group">
      <label for="trevorSong">Trevor's Song</label>
      {{input value=trevorSong id="trevorSong" placeholder=post.trevorSong}}
    </div>
    <div class="form-group">
      <label for="dustinSong">Dustin's Song</label>
      {{input value=dustinSong id="dustinSong" placeholder=post.dustinSong}}
    </div>
    <div class="form-group">
      <label for="tileImage">Tile Image</label>
      {{input value=tileImage id="tileImage" placeholder=post.tileImage}}
    </div>
    <div class="form-group">
      <label for="images">Post Images</label>
      {{input value=images id="images" placeholder=post.images}}
    </div>
    <button {{action 'updatePost' post}} type="button" name="edit">Save</button>
  </form>
{{else}}
  <button {{action 'editPost'}} type="button" name="edit">Edit Post</button>
  {{/if}}
