<li>
  <div class="">
    <h3>{{post.title}}</h3>
    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2447365851/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://johnwiese.bandcamp.com/album/soft-punk">Soft Punk by John Wiese</a></iframe>

  {{#each post.images as |image|}}
  <!-- <img src={{image}} alt="{{post.title}}" /> -->
  <h3>{{image}}</h3>
  {{/each}}

  <br>
  <button {{action 'deletePost' post}}>Delete Post</button>
  {{post-update post=post updatePost="updatePost"}}

</div>
</li>
