{{#if addNewPost}}
<h1>New Post</h1>
<form>
  <div class="form-group">
    <label for="title">Title</label>
    {{input value=title id="title"}}
  </div>
  <div class="form-group">
    <label for="natureType">Nature Type</label>
    {{input value=natureType id="natureType"}}
  </div>
  <div class="form-group">
    <label for="trevorSong">Trevor's Song</label>
    {{input value=trevorSong id="trevorSong"}}
  </div>
  <div class="form-group">
    <label for="dustinSong">Dustin's Song</label>
    {{input value=dustinSong id="dustinSong"}}
  </div>
  <div class="form-group">
    <label for="tileImage">Tile Image</label>
    {{input value=tileImage id="tileImage"}}
  </div>
  <div class="form-group">
    <label for="images">Post Images</label>
    {{input value=images id="images.url"}}
  </div>
  <button {{action 'newPost1'}}>Save</button>
</form>
{{else}}
<button {{action 'newPostFormShow'}}>New Post</button>
{{/if}}
